#body {
    background-color: #e6c2ad;
}
.F1
{
    color: white;
        text-align: center;
}
.P1
{
font-family: verdana;
    font-size: 20px;
    margin-left: 20px;
    padding: 50px;
}
.img1{
    margin: 50px;
        border: 1px solid #ccc;
        float: center;
        width: 250px;
        margin-left: 50%;



    }
    .l1
    {
font-family: verdana;
    font-size: 20px;
    margin-left: 20px;
    padding: 50px;

    }